@import url('https://fonts.googleapis.com/css?family=Kanit:900');
*{
    margin: 0;
    padding: 0;
}
/* body {
    
        background-image: url('/public/img/5.png'); background-size: cover; background-repeat: no-repeat;
        cursor: url(8.cur), auto;
} */
.hammer{
    cursor: url(8.cur), auto;
    background-image: url('../public/img/5.png'); background-size: cover; background-repeat: no-repeat;
}
.none{
    display: none;
}
.character{
    background-image: url('../public/img/2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.tiltle{
    text-align: center;
    padding-bottom: 10px;
    margin: 10px;
    padding: auto;
    color: linear-gradient(to right, #A0342F, yellow) ;
    font-weight: 1000px;
    font-size: 40px;
    font-family: Climate Crisis;
    border: 2px groove rgb(202, 105, 15);
    border: bottom 2px;
    border-radius: 5px;
    background: linear-gradient(to right, #A0342F, yellow);
    transform: perspective(400px)rotateX('75deg');
    text-transform: uppercase;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    
}
.block{
    border: 2px solid linear-gradient(to right, #A0342F, yellow) ;
    height: 90px;
    width: 90px;
    border-radius: 40%;
    background-color: rgb(243, 183, 109);
    box-shadow: 5px 5px 10px rgba(8, 8, 8, 0.5);
    transition: transform 0.3s ease;
    transform-style: preserve-3d;
    
}
.block:hover {
    transform: rotateX(10deg);
}
#startGame{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f90606;
    color: rgb(142, 242, 12);
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: Climate Crisis;
    
}
#startGame:hover{
    background-color: green;
  color: red;
}
#boardGame{
    display: flex;
    height: 80vh;
    width: 60vw;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 10px;
    justify-content: space-between;
    perspective: 900px;
    border-radius: 10%;
    opacity: 0.90;
    background-color: beige;
    justify-content: space-between;
    perspective: 800px;
    position: relative; 
    z-index: 2;
}


#timer, #score, #niveau {
    font-size: 25px;
    color: rgb(255, 0, 0);
    font-family: Climate Crisis;
    padding: 10px;
    text-align: right;
    margin-top: -150px;

}
